# Publish output
publish-*/
publish-v*/
publish/

# Build results
GalQuoteCollector/bin/
GalQuoteCollector/obj/
GalgameQuoteCollector/bin/
GalgameQuoteCollector/obj/

# VS files
.vs/
*.user
*.suo

# Symbol files
*.pdb

# OS files
Thumbs.db
.DS_Store
